@import url("https://websseu.github.io/fffont/fonts/NanumSquareNeo/NanumSquareNeo.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f8f7f1;
}

.NanumSquareNeo {
  font-family: "NanumSquareNeo";
}
.poppins {
  font-family: "Poppins";
}
.react-calendar {
  width: 100% !important;
  max-width: 406px !important;
  padding: 2% !important;
  background-color: #f8f7f1 !important;
  border-color: #cfcfcf !important;
  margin-top: 5px !important;
  font-family: "Poppins" !important;
}
.react-calendar__navigation__arrow {
  font-family: Arial !important;
}
.react-calendar__tile--active {
  background: #159542 !important;
  border-radius: 50px !important;
}
@layer components {
  /* header */
  .header__container {
    @apply w-full border-b-2 border-black bg-[#f8f7f1];
  }
  .header__title {
    @apply flex items-center justify-between px-2 md:px-4 py-0 md:py-2 relative z-10 pb-0;
  }
  .header__title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #00000038;
    z-index: -1;
  }
  .header__title .left {
    @apply w-9 h-9 rounded-full items-center justify-center ring ring-gray-300/20 hover:bg-blue-50 bg-[#f8f7f1] flex cursor-pointer;
  }
  .header__title .right {
    @apply w-9 h-9 rounded-full items-center justify-center ring ring-gray-300/20 hover:bg-blue-50 bg-[#f8f7f1] flex cursor-pointer;
  }
  .header__title .center a {
    @apply flex items-center uppercase poppins font-black bg-[#f8f7f1] px-4 text-6xl sm:text-7xl md:text-8xl;
  }
  .header__title .center a span:first-child {
    @apply mr-[-0.5vw] inline-block;
  }
  .header__title .center a span:last-child {
    @apply ml-[-0.5vw] inline-block;
  }
  .header__title .center a svg {
    @apply hover:text-blue-600 transition-colors duration-500;
  }
  .header__nav {
    @apply fixed md:absolute md:bottom-auto bottom-0 w-full md:top-[98px] z-50;
  }
  .header__nav ul {
    @apply flex md:justify-center justify-evenly bg-slate-900/20 backdrop-blur-md md:bg-transparent md:backdrop-blur-0;
  }
  .header__nav ul li a {
    @apply md:bg-[#f8f7f1] md:py-0 py-3 bg-transparent px-2 poppins text-sm inline-block;
  }
  .header__nav ul li:first-child a {
    @apply pl-6;
  }
  .header__nav ul li:last-child a {
    @apply pr-6;
  }

  /* main */
  .main__container {
    @apply max-w-screen-xl mx-auto md:mt-[60px] sm:mt-[30px] mt-[30px] px-4;
  }

  /* footer */
  .footer__container {
    @apply mx-auto max-w-7xl p-4 mt-20;
  }

  /* commons */
  .music__title {
    @apply text-center poppins font-light mb-4;
  }
  .music__title span {
    @apply capitalize underline underline-offset-4;
  }
  .music__loading {
    @apply text-center p-4 py-10 text-gray-700 min-h-screen NanumSquareNeo text-sm;
  }
  .music__error {
    @apply text-center p-4 py-10 text-gray-700 min-h-screen NanumSquareNeo text-sm;
  }
  .music__country {
    @apply flex flex-wrap gap-1 mt-4;
  }
  .music__nation {
    @apply border rounded-full w-7 h-7 flex items-center justify-center cursor-pointer;
  }
  .music__choice {
    @apply mt-8 border-b relative pb-2;
  }
  .music__choice input {
    @apply ml-auto border rounded-full flex items-center justify-center cursor-pointer hover:border-gray-500 bg-transparent px-3 py-1 text-gray-500 NanumSquareNeo text-sm;
  }
  .music__listen {
    @apply absolute sm:right-2 right-0 flex gap-1;
  }
  .music__click {
    @apply border px-2 py-1 rounded-md bg-[#f8f7f18b] backdrop-blur-sm text-gray-500 inline-block;
  }

  /* main */
  .main__title {
    @apply sticky top-0 z-10 bg-[#f8f7f1af] backdrop-blur-sm text-center capitalize p-3 text-gray-800 border-t border-b flex items-center justify-center gap-1 poppins;
  }
  .main__layout {
    @apply grid grid-cols-1 md:grid-cols-3 gap-4;
  }
  .music__list {
    @apply h-[67px] flex items-center border-b border-dashed px-0 py-1 sm:px-4 sm:py-2 sm:gap-4 gap-2 hover:bg-slate-100 NanumSquareNeo cursor-pointer relative;
  }
  .music__list .image {
    @apply flex items-center justify-center relative;
  }
  .music__list .ranking {
    @apply w-5 text-center sm:text-sm text-xs text-gray-500;
  }
  .music__list .image {
    @apply flex items-center justify-center relative;
  }
  .music__list .title {
    @apply flex-1 min-w-0;
  }
  .music__list .title p:nth-child(1) {
    @apply sm:text-sm text-xs text-zinc-800 truncate;
  }
  .music__list .title p:nth-child(2) {
    @apply sm:text-xs text-[10px] pt-px text-gray-400 truncate;
  }
  .music__play {
    @apply absolute left-0 top-0 w-full h-full bg-black/50 flex items-center justify-center text-white rounded-md opacity-0 hover:opacity-100 transition-all duration-100;
  }

  /* korea */
  .korea__music {
    @apply flex items-center justify-center gap-1;
  }
}
